
  .login {
    margin:0 auto;
    max-width:500px;
    margin-top: 60px;
  }
  .login-header {
    color:black;
    text-align:center;
    font-size:100%;
    margin-bottom: -30px;
  }
  .login-form {
    background:transparent;
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
    color: black;
  }
  .login-form input {
    color: black;
    background-color: transparent;
    max-width:400px;
    height: 50px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:1px solid gray;
    outline:none;
    padding-left:10px;
  }
  .login-button{
    color: white;
    height:40px;
    width:80%;
    background:#1c3a66;
    border:none;
    border-radius:20px;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .google-icon{
    font-size: 20px;
  }
  .login-form .checkbox{
    height: 20px ;
    width: 15px;
  }
  .login-button:hover{
    box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.5);
    background-color: #1c2f4d;
  }
  .sign-up{
    color:#f2f2f2;
    margin-left: -40%;
    cursor:pointer;
    text-decoration:underline;
  }
  .no-access {
    color:#E86850;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
  }
  .label-email{
    margin-left: -15px;
    padding-top: -15px;
  }
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .sign-up, .no-access {
      margin:10px 0;
    }
    .login-button {
      margin-bottom:10px;
    }
  }