/* MAIN CARRO */
.container_carro{
    margin-left: 29px;
}
.carro{
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.bubble{
    position: relative;
    top: 15px;
    left: 15px;
}

/* LISTA CARRO */
.detalles ul{
    margin:0px;
    padding:0px;
    list-style: none;
}
.cantidad-prod{
    font-size: 20px;
    margin: 10px 10px;
    color: black;
}
.producto{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5px;
}
.img-lista{
    width: 150px;
    height: 100px;
}
.button-delete{
    height: 35px;
    background-color: rgb(148, 19, 19);
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px black;
}
.button-delete:hover{
    background-color: rgb(105, 14, 14);
}

/* BUBBLE ALERT */

.bubbleAlert{
    color:orange;
    font-size: 1.2rem;
}
@media only screen and (min-width: 575px){
    .container_carro{
        position: absolute;
        right: 0;
        margin-top: -25px;
    }
    .carro{
        padding:15px;
        margin-right: 40px;
    }
    .bubble{
        left: 20px;
    }
}