 .news-container{
     display: block;
 }
 .card-new{
    margin: 30px 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.card-new:hover{
    box-shadow: 1px 5px 5px rgb(0,0,0.7,0.7);
    border-radius: 7px;
    transform: translateX(3%);
}

@media only screen and (min-width: 575px){
    .news-container{
        display: flex;
    }
    .img-news{
        height: 264px;
        width: 274px;
    }
}